<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>IBDB - {% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{url_for('home_page')}}">IBDB</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="{{url_for('home_page')}}">Home</a></li>
						<li><a href="{{url_for('message_board')}}">Message Board</a></li>
						<li><a href="{{url_for('library_page')}}">Library</a></li>
						<li><a href="{{url_for('profile_page')}}">My Profile</a></li>
						<li><a href="{{url_for('timeline_page')}}">Timeline</a></li>
						<li><a href="{{url_for('writers_page')}}">Writers</a></li>
						<li><a href="{{url_for('help_page')}}">Help</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{url_for('signup_page')}}"><span
								class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li><a href="{{url_for('login_page')}}"><span
								class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
	<div class="container-fluid" role="main">
		{% block content %}{% endblock %}
    </div>
</html>