{% extends "layout.html" %}
{% block title %}Book List{% endblock %}
{% block content %}
	<div class="page-header">
	<h1>Library</h1>
	</div>

<form role="form" action="" method="post" name="library" class="form-horizontal">
	<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-3">
	<a href="{{ request.path }}/add" class="btn btn-primary">Add Book</a>
	</div>
	</div>


	<ul class="list-unstyled">
	{% for book in library %}
		<li>
		<input type="checkbox" name="library_to_delete" value=" {{ book[0] }} " />
		<a href="{{ url_for('book_page', id= book[0]  )}}">  {{ book[1] }} </a>
		</li>
	{% endfor %}

	</ul>

	{% if library %}
		<button type="submit" name="delete" class="btn btn-primary">Delete</button>
	{% endif %}
</form>

{% endblock %}