{% extends "layout.html" %} 
{% block title %}Message Board{% endblock %}
{% block content %}
<br>
<br>
<div class="container">
	<div class="well">
		<form role="form" action="" method="post" name="message_add" class="form-horizontal">
			<fieldset>
				<!-- Form Name -->
				<legend>Message Board</legend>
				<!-- Textarea -->
				<div class="form-group">
					<div class="col-md-offset-4 col-md-8">
						<label>New Message</label>
					</div>
					<div class="col-md-offset-4 col-md-4">
						<textarea name="message" class="form-control" style="resize: vertical"></textarea>
					</div>
				</div>

				<!-- Button -->
				<div class="form-group">
					<div class="col-md-offset-4 col-md-4">
						<button type="submit" name="add" class="btn btn-success">Send</button>
					</div>
				</div>
			</fieldset>
		</form>
		<ul>
			{% for message in messages %}
			<li>
				<div class="panel panel-default">
					<div class="panel-heading"><strong>{{message[0]}}</strong></div>
					<div class="panel-body">
						<div class="col-md-10">
							<p>
								{{message[1]}}
							</p>
						</div>
						<div class="col-md-1">
							<a href="{{url_for('message_edit', id=message[2])}}"><button class="btn btn-info">Update</button></a>
						</div>
						<div class="col-md-1">
							<button class="btn btn-danger" data-toggle="modal" data-target="#myModal{{message[2]}}">Delete</button>
							<div id="myModal{{message[2]}}" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Are you sure?</h4>
										</div>
										<div class="modal-body">
											<a href="{{url_for('message_delete', id=message[2])}}">
												<button class="btn btn-danger btn-lg center-block">Yes</button>
											</a>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
