{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

	<form role="form" action="" method="post" name="sign_up" class="form-horizontal">
	<fieldset>

	<!-- Form Name -->
	<legend>Sign Up</legend>

	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="username">Username</label>
	  <div class="col-md-4">
	  <input id="username" name="username" placeholder="username" class="form-control input-md" required="" type="text">

	  </div>
	</div>

	<!-- Password input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="passwordinput">Password</label>
	  <div class="col-md-4">
	    <input id="password" name="password" placeholder="password" class="form-control input-md" required="" type="password">

	  </div>
	</div>

	<!-- Multiple Radios (inline) -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="radios">User Type</label>
	  <div class="col-md-4">
	    <label class="radio-inline" for="radios-0">
	      <input name="type" id="type0" value="0" checked="checked" type="radio">
	      Admin
	    </label>
	    <label class="radio-inline" for="radios-1">
	      <input name="type" id="type1" value="1" type="radio">
	      Member
	    </label>
	    <label class="radio-inline" for="radios-2">
	      <input name="type" id="type2" value="2" type="radio">
	      Guest
	    </label>
	  </div>
	</div>

	<!-- Button -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="signup"></label>
	  <div class="col-md-4">
	    <button id="signup" name="signup" class="btn btn-primary">Sign Up</button>
	  </div>
	</div>

	</fieldset>
	</form>

		{% for user in users %}
		 <div class="panel-group">
		    <div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-sm-10">
							<h4 class="panel-title" style="transform: translateY(50%);">
						        <a data-toggle="collapse" href="#{{user[0]}}">{{user[1]}}</a>
						    </h4>
						</div>
						<div class="col-sm-2">
					        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#{{user[0]}}n">
						       	<span class="glyphicon glyphicon-bell"></span>
						    		Notifications
						        <span class="badge">
						        {% for count in notification_count %}
						        {% if user[0] == count[0] %}{{count[1]}}{% endif %} 
						        {% endfor %}
						        </span>
					        </button>
						</div>
					</div>
				</div>
				<div id="{{user[0]}}n" class="modal fade" role="dialog">
					<div class="modal-dialog">

					<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Notifications of {{user[1]}}</h4>
							</div>
							<div class="modal-body">
									{% for notification in notifications %}
										{% if notification[0] == user[0] %}
											<div class="row"><p>
												<div class="col-xs-9">
													<span class="glyphicon glyphicon-chevron-right"></span> {{notification[1]}}
												</div>
												<div class="col-xs-2 bg-danger">
													<a href="{{url_for('notification_delete', id=notification[2])}}"> - Delete</a>
												</div>
											</p></div>
										{% endif %}
									{% endfor %}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				
				<div id={{user[0]}} class="panel-collapse collapse">
					<div class="panel-body">{{user[1]}}</div>
					<div class="panel-body">{{user[2]}}</div>
					<div class="panel-body">{{user[3]}}</div>
					<div class="panel-body">{{user[6]}}</div>
					<div class="panel-body">
						<!-- Button (Double) -->
						<div class="col-sm-4">
							<a href="{{url_for('list_add', userID=user[0], userName=user[1])}}"><div class="bg-info">Add New Message List</div></a>
							<br/>
							<a href="{{url_for('users_to_follow', userID=user[0], userName=user[1])}}"><div class="bg-danger">Follow - Unfollow</div></a>
						</div>
						<div class="col-sm-4">
							<ol class="list-unstyled">
								{% for list in lists %}
									{% if user[0] == list[0] %}
										<li><a href="{{url_for('message_board', listID=list[2])}}"><div class="bg-primary">{{list[1]}}</div></a> 
											- <a href="{{url_for('list_delete', listID=list[2])}}">Delete</a> 
											- <a href="{{url_for('list_update', listID=list[2])}}">Update</a>
											<br/>
											<br/>
										</li>
									{% endif %}
								{% endfor %}
							</ol>
						</div>
						<div class="form-group">
						  <label class="col-md-4 control-label" for="button1id"></label>
						  <div class="text-right">
						    <a href="{{url_for('user_edit', userID=user[0])}}"><button id="button1id" name="button1id" class="btn btn-success">Update</button></a>
						    <form role="form" action="" method="post" name="user_delete" class="form-horizontal">
								<button type="submit" name="delete" value="{{user[0]}}" class="btn btn-danger">Delete</button>
							</form>
					  	</div>
					  	</div>
				</div>
				</div>


			</div>
		</div>
			{% if user[6] == 'Admin' %}
				<div>
					<p>Admin kaydi yapildi</p>
				</div>
				<a href="{{url_for('admin_setting')}}"><button id="button1id" name="button1id" class="btn btn-success">Admin Settings</button></a>
			{% endif %}
		{% endfor %}


   <footer>
     <div id="datetime">{{ current_time }}</div>
   </footer>
{% endblock %}
