{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

	<form role="form" action="" method="post" name="sign_up" class="form-horizontal">
	<fieldset>

	<!-- Form Name -->
	<legend>Sign Up</legend>

	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="username">Username</label>
	  <div class="col-md-4">
	  <input id="username" name="username" placeholder="username" class="form-control input-md" required="" type="text">

	  </div>
	</div>

	<!-- Password input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="passwordinput">Password</label>
	  <div class="col-md-4">
	    <input id="password" name="password" placeholder="password" class="form-control input-md" required="" type="password">

	  </div>
	</div>

	<!-- Multiple Radios (inline) -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="radios">User Type</label>
	  <div class="col-md-4">
	    <label class="radio-inline" for="radios-0">
	      <input name="type" id="type0" value="0" checked="checked" type="radio">
	      Admin
	    </label>
	    <label class="radio-inline" for="radios-1">
	      <input name="type" id="type1" value="1" type="radio">
	      Member
	    </label>
	    <label class="radio-inline" for="radios-2">
	      <input name="type" id="type2" value="2" type="radio">
	      Guest
	    </label>
	  </div>
	</div>

	<!-- Button -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="signup"></label>
	  <div class="col-md-4">
	    <button id="signup" name="signup" class="btn btn-primary">Sign Up</button>
	  </div>
	</div>

	</fieldset>
	</form>

		{% for user in users %}
		 <div class="panel-group">
		    <div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">
				        <a data-toggle="collapse" href="#{{user[0]}}">User ID {{user[0]}}</a>
				     </h4>
				</div>
				<div id={{user[0]}} class="panel-collapse collapse">
					<div class="panel-body">{{user[1]}}</div>
					<div class="panel-body">{{user[2]}}</div>
					<div class="panel-body">{{user[3]}}</div>
					<div class="panel-body">{{user[6]}}</div>
					<div class="panel-body">
						<!-- Button (Double) -->
						<div class="form-group">
						  <label class="col-md-4 control-label" for="button1id"></label>
						  <div class="text-right">
						    <a href="{{url_for('user_edit', userID=user[0])}}"><button id="button1id" name="button1id" class="btn btn-success">Update</button></a>
						    <form role="form" action="" method="post" name="user_delete" class="form-horizontal">
								<button type="submit" name="delete" value="{{user[0]}}" class="btn btn-danger">Delete</button>
							</form>
					  	</div>
					  	</div>
				</div>
				</div>


			</div>
		</div>
			{% if user[6] == 'Admin' %}
				<div>
					<p>Admin kaydi yapildi</p>
				</div>
				<a href="{{url_for('admin_setting')}}"><button id="button1id" name="button1id" class="btn btn-success">Admin Settings</button></a>
			{% endif %}
		{% endfor %}


   <footer>
     <div id="datetime">{{ current_time }}</div>
   </footer>
{% endblock %}
