{% extends "layout.html" %}
{% block title %}Writer{% endblock %}
{% block content %}
<div class="page-header">
<h1>{{ writer[0] }}</h1>
</div>

<body>
<div class="row">
<div  class="col-sm-1">Age:</div>
<div  class="col-sm-3">{{ writer[1] }}</div>
</div>

<div class="row">
<div  class="col-sm-1">Category:</div>
<a href="{{ url_for('category_page', ckey= category[2]  )}}"> {{ category[0] }} </a>
</div>

	<ul class="list-unstyled">
	{% for award in awards %}
			<li>
			<a href="{{ url_for('award_page', akey= award[2], writer = writer )}}"> {{ award[0] }} {{ award[1] }} </a>
			</li>
	{% endfor %}
	
	</ul>

<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-3">
<a href="{{ request.path }}/edit" class="btn btn-primary">Edit</a>
</div>
</div>
</body>
{% endblock %}